  
  * {
    box-sizing: border-box;
  }
  html {
    line-height: 1.225;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #e3e3e3;
    font-family: verdana, arial, sans-serif, helvetica;
  }
  .container {
    width: 810px;
    max-width: 100%;
    margin: 0 auto 10px;
  }
  .container.full-width {
    width: auto;
  }
  details summary {
    cursor: pointer;
    user-select: none;
  }
 
  a {
    color: #000000;
    text-decoration: none;
  }
  a:hover {
    color: #c00;
   
  }
  p,
  ol li,
  ul:not(nav .links):not(footer .links) li {
    font-size: 0.875em;
    font-size: max(0.875em, 12px);
  }
  ol li ol li {
    font-size: 100%;
  }
  ul {
    padding-left: 20px;
  }
  nav {
    color: white;
    font-size: 80%;
  
  }


  nav .top {
    background: #000000;
    padding: 15px 10px 14px 10px;
    display: flex;
    position: relative;
  }
  nav .top a {
    text-decoration: none;
    color: inherit;
  }
  nav .top a:hover {
    text-decoration: underline;
  }
  nav .top div {
    display: inline-block;
    
  }
  
  nav .top .left img {
    margin: 0 0 0 6px;
  }
  nav .top .left .logo {
    width: 140px;
    height: 42px;
  }
  

  nav .links {
    background-color: #000000;
    padding: 5px 16px;
  }
 
  nav .links{
    margin: 0;
    list-style: none;
  }
  
  nav .links li {
    display: inline-block;
  }
  
  nav .links li:not(:last-child)::after {
    content: " | ";
    color: rgb(255, 255, 255);
  }
  nav .links li {
    min-height: 1.4em;
  }
  nav .links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  nav .links a:hover {
    color: #000000;
  }
 
  /*MAIN*/
  main {
    background: white;
    color: black; /*letras*/
    padding: 6px 0px;
    font-size: 80%;
  }
  main .left,
  main .right {
    padding: 10px;
  }
  
  footer .copyright {
    font-size: 80%;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
  }

  
  
  .profile h1 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
  }
  .general-about .profile-pic {
    display: block;
    float: left;
    margin: 0 15px 8px 0;
    height: 160px;
  }
  .general-about .profile-pic img {
    max-width: 160px;
    max-height: 160px;
  }
  .general-about .details {
    display: block;
  }
  .general-about .details.below {
    width: 100%;
    display: inline-block;
  }
  .profile .mood {
    width: 100%;
    display: inline-block;
  }
  .profile .mood p {
    margin: 0 0 8px 0;
  }
  .profile .contact,
  .profile .url-info,
  .profile .table-section,
  .setting-section,
  .home-actions {
    width: 100%;
    border: 2px solid #000000;
    margin: 10px 0;
  }

  .profile .contact .heading,
  .profile .table-section .heading,
  .setting-section .heading,
  .home-actions .heading {
    background: #000000;
  
    color: white;
    padding: 2px 7px;
  }
  .setting-section {
    margin: 15px 0;
  }
  .profile .contact .heading h4,
  .profile .table-section .heading h4,
  .profile .blurbs .heading h4,
  .profile .friends .heading h4,
  .blog-entry .comments .heading h4,
  .bulletin .comments .heading h4,
  .home-actions .heading h1,
  .setting-section .heading h4,
  .statistics .heading h4 {
    margin: 0;
    display: inline-block;
  }
  .profile .contact .f-row {
    margin: 7px;
    font-weight: bold;
    font-size: 0.875em;
  }
  .profile .url-info {
    padding: 4px 7px;
  }
  .profile .url-info p {
    font-size: 100%;
    margin: 0;
    word-break: break-all;
  }
  .profile .url-info.view-full-profile {
    text-align: center;
  }
  table.details-table {
    width: 100%;
  }
  .details-table td:first-child {
    background: #ffffff;
   
    color: #000000;

    font-weight: bold;
    width: 33%;
  }
  .details-table td {
    background: #ffffff;
 
    vertical-align: top;
  }
  
 
.details-table.left-big td:first-child {
  width: unset;
}
.details-table.left-big td {
  width: 33%;
}
.details-table td p {
  margin: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
  
  .details-table td * {
    max-width: 100%;
  }
  .profile .blurbs {
    margin: 20px 0;
  }
  .profile .blurbs .heading,
  .profile .friends .heading {
    background: #000000;
  
    color: #ffffff;
   
    padding: 2px 7px;
  }


  .blog-entry .comments .heading,
 .comments .heading {
    padding: 10px 7px;
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    margin-top: 10px;
  }
  .blog-category .right h2 {
    overflow-wrap: break-word;
    word-break: break-word;
  }
 
.edit-link {
  font-size: 90%;
}
.edit-link.right-side {
  text-align: right;
  margin: 3px 5px 4px 5px;
}

.settings-sessions-table {
  margin: 10px 0 0 0;
  width: 100%;
  text-align: left;
  overflow-x: auto;
  white-space: nowrap;
}

  
  .logout-btn {
    background: none !important;
    border: none;
    padding: 0 !important;
    cursor: pointer;
    user-select: text;
    text-decoration: none;

  }
  .logout-btn,
  .logout-form {
    color: white;
    display: inline-block;
    font-size: 100%;
  }
  
  .logout-btn:hover,
  .logout-btn:active {
    color: inherit;
  }
  .profile .blurbs .inner,
  .profile .friends .inner,
  .blog-entry .comments .inner,
   .comments .inner {
    padding: 7px;
  }
 
 
.setting-section .inner p:last-child {
  margin-bottom: 0;
}
.profile .blurbs .section {
  margin-bottom: 14px;
}
.profile .blurbs .section h4 {
  margin: 0;
  color: #ED0707;
  color: var(--dark-orange);
}
  .profile .blurbs .section p,
  .profile .friends p,
  .blog-entry .comments p,
 .comments p {
    margin: 0 0 8px 0;
  }
  .profile .friends .person {
    width: 105px;
    display: inline-block;
    padding: 0 10px 15px 0;
  }
  .profile .friends .person p {
    color: #666666;
    font-weight: bold;
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 100%;
    text-align: center;
  }
  .profile .friends .person img:not(.icon) {
    max-width: 95px;
    max-height: 95px;
    display: block;
    margin: 0 auto;
  }
  .count {
    color: #D32626;
  }

  table.comments-table {
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  
table.comments-table,
table.music-table,
table.bulletin-table,
table.forum-table,
table.groups-table {
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
}
table.forum-table,
table.groups-table,
table.bulletin-table {
  border-collapse: collapse;
  border-spacing: 0;
}
.forum-table th,
.forum-table td,
.groups-table th,
.groups-table td,
.bulletin-table th,
.bulletin-table td {
  border: 1px solid black;
  padding: 7px;
}
.forum-table th.subject,
.forum-table td.subject,
.groups-table th.name,
.groups-table td.name {
  width: 100%;
}
.groups-table td.name {
  text-align: left;
  vertical-align: top;
}
.groups-table td.name p {
  margin: 3px 10px;
}
.forum-table th:not(.subject),
.forum-table td:not(.subject),
.groups-table th:not(.name),
.groups-table td:not(.name) {
  width: auto;
  white-space: nowrap;
}
.comments-table p,
.music-table p,
.bulletin-table p,
.forum-table p,
.groups-table p {
  font-size: 100%;
}
.bulletin-table .user-info {
  width: 34%;
}
.forum-table .user-info {
  width: 70px;
  max-height: 70px;
  padding: 0;
}
.forum-table .user-info .profile-pic {
  max-width: 70px;
  max-height: 70px;
  vertical-align: bottom;
  /* to hide gap from link */
}
.forum-table tr.topic-closed {
  opacity: 0.8;
  font-style: italic !important;
}
.forum-table th.subject,
.forum-table td.subject {
  position: relative;
}
.forum-table .pinned {
  font-size: 0.8em;
  color: #332c25;
  margin-top: 2.4px;
  display: inline-block;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  top: 2px;
  left: 4px;
}
.forum-table .pinned .icon {
  height: 1.3em;
  width: 1.3em;
  vertical-align: top;
}
.topic-closed-message {
  overflow: hidden;
  text-align: center;
  color: #545454;
  color: var(--darker-gray);
}
.topic-closed-message h5 {
  margin: 18px 0 0 0;
  font-weight: normal;
}
.topic-closed-message h3 {
  margin: 4px 0 27px 0;
}
.topic-closed-message a {
  color: black;
}
.groups-table .group-info {
  width: 90px;
  max-height: 90px;
  padding: 0;
}
.groups-table .group-info .group-pic {
  max-width: 90px;
  max-height: 90px;
  vertical-align: bottom;
  /* to hide gap from link */
}
.bulletin-table p {
  margin: 5px 0;
}
.bulletin-table:not(.preview) .user-info p {
  margin: 0 0 5px 0;
}
.bulletin-table td.subject {
  width: 100%;
}
.bulletin-table td:not(.subject):not(.user-info) {
  white-space: nowrap;
}
.bulletin-table td {
  text-align: center;
  vertical-align: top;
  overflow-wrap: break-word;
  word-break: break-word;
}
.forum-table td,
.groups-table td {
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}
.forum-table td.reply-count,
.groups-table td.member-count {
  font-size: 110%;
}
.comments-table td:first-child,
.music-table td:first-child {
  background: #f9c56c;
  background: var(--light-orange);
  text-align: center;
  font-weight: bold;
  width: 38%;
}
.comments-table td,
.music-table td {
  background: #fcdbb8;
  background: var(--even-lighter-orange);
  vertical-align: top;
}
.comments-table td:first-child img:not(.icon) {
  width: 90px;
  max-width: 100%;
  max-height: 200px;
}
.bulletin-table td:first-child img:not(.icon) {
  width: 80px;
  max-width: 100%;
  max-height: 150px;
}
.comments-table td pre,
.music-table td pre {
  white-space: pre-wrap;
}
.comments-table td *,
.bulletin-table td * {
  max-width: 100%;
}
.comments-table .report {
  font-size: 0.7em;
  float: right;
  margin: 8px 5px !important;
}
.comments-table .pinned {
  font-size: 0.8em;
  float: right;
  color: #332c25;
  margin-top: 2.4px;
  font-weight: bold;
  font-style: italic;
}
.comments-table .pinned .icon {
  height: 1.3em;
  width: 1.3em;
  vertical-align: top;
}
.music-table .cover {
  width: 140px;
  max-width: 100%;
}
.music-table .copyright {
  font-size: 58%;
  opacity: 0.8;
}
.music-table .music-button,
.featured-playlist .music-button {
  text-decoration: none;
}
.music-table .music-button img,
.featured-playlist .music-button img {
  width: 115px;
  max-width: 100%;
  display: inline-block;
}
.featured-playlist {
  width: 100%;
  background: #ffdcba;
  padding: 6px 10px;
  overflow: auto;
  margin-bottom: 10px;
}
.featured-playlist a {
  text-decoration: none;
  color: inherit;
}
.featured-playlist .sponsored {
  margin: -10px 0 5px 0;
  opacity: 0.5;
  font-size: 55%;
}
.featured-playlist h2,
.featured-playlist h4 {
  margin: 5px 0;
}
.featured-playlist .text {
  float: left;
  margin: 10px 20px 10px 0;
}
.featured-playlist .music-button img {
  float: right;
  margin: 15px 0 0 0;
  width: 130px;
}
.notification-overview p {
  margin: 7px;
  font-weight: bold;
}
.notification-overview {
  border-bottom: 2px solid #60A5FA;
  border-bottom: 2px solid var(--lighter-blue);
}
.notifications-list form {
  display: inline-block;
}
.text-red,
.text-red a {
  color: #ED0707;
  color: var(--dark-orange);
}
.text-green,
.text-green a {
  color: #059669;
  color: var(--dark-green);
}
.text-yellow,
.text-yellow a {
  color: #dbae2e;
  color: var(--strange-yellow);
}

.center-container {
  text-align: center;
  padding: 20px 10px 40px 10px;
  margin: 0 auto;
}
.center-container img {
  max-width: 100%;
}

.home-actions {
  background: #DBEAFE;
  background: var(--lightest-blue);
  font-weight: bold;
}
.home-actions .more-options {
  width: 100%;
  display: inline-block;
  padding: 0 5px;
}
.statistics {
  border: 1.4px solid black;
  text-align: center;
  font-weight: bold;
  width: 150px;
  max-width: 100%;
  margin: 15px 0;
}
.statistics .heading {
  background: #1E40AF;
  background: var(--darker-blue);
  color: white;
  padding: 2px 7px;
}
.user-home .top-row {
  margin-top: 10px;
}
.user-home .blog-preview h4 {
  margin: 0 0 10px 0;
}
.user-home .blog-preview p {
  overflow-wrap: break-word;
  word-break: break-word;
}
.user-home .new-people {
  margin: 14px 0;
}
  @media(min-width: 30em) {
    /* DESKTOP */
    .row {
      width: 100%;
      display: table;
      table-layout: fixed;
    }
    .col {
      display: table-cell;
      vertical-align: top;
    }
    .col.w-10 {
      width: 10%;
    }
    .col.w-15 {
      width: 15%;
    }
    .col.w-20 {
      width: 20%;
    }
    .col.w-25 {
      width: 25%;
    }
    .col.w-30 {
      width: 30%;
    }
    .col.w-40 {
      width: 40%;
    }
    .col.w-50 {
      width: 50%;
    }
    .col.w-60 {
      width: 60%;
    }
    .col.w-70 {
      width: 70%;
    }
    .col.w-75 {
      width: 75%;
    }
    .col.w-80 {
      width: 80%;
    }
    .col.w-90 {
      width: 90%;
    }
    .d-hide {
      display: none !important;
    }
    
  }
  